@charset "UTF-8";

/* header */
 header {
 	padding-top:40px;
 	padding-bottom:10px;
	border-bottom: 1px solid #DBDBDB;
}

 header h1 {
 	font-size: initial;
 	margin-bottom: 0;
 } 

header .join-wrap {
	display:flex;
	gap:20px;
	flex-wrap:wrap;
}

header .join-wrap a {
	display:block;
	width: 38px;
	text-align:center;
}

header .join-wrap a span {	
	display:block;
	font-weight: 400;
	font-size: 10px;
	color: #7C7C7C;
}

header .main-nav a {
	display:inline-block;
	padding: 10px;
	font-size:15px;
	color:#1D1D1D;
	font-weight: 500;
}

header .main-nav a:hover {
	color: #87A922;	
}

header .header-bottom {	
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-top: 10px;
}

header .header-bottom > nav {
	
	float: left;
    position: absolute;
    left: 0;
} 

header .searchbar {
	max-width:596px;
	width: 100%;
	height:38px;
	border-radius:50px;
	border: 1px solid #7C7C7C;
	overflow:hidden;
}

header .searchbar input {	
	padding-left: 24px;
	border:none;
	outline:none;
}

header .searchbar input:focus {
	outline:none;
	box-shadow: none;
}

header .searchbar input + button {
	padding-right: 45px;
	border:none;
	text-indent:-9999px;
	background:url('../../images/search-icon.svg') no-repeat 10px center / 24px;
}

/* main */
main #main-slide {
	height:600px;
	overflow:hidden;
	margin-bottom:40px;
}
main #main-slide .carousel-inner {
	height: 100%;
}
main #main-slide .carousel-item {
	height: 100%;	
	position: relative;
}

main #main-slide .carousel-item img {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);	
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .event-banners {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap:10px;
}
main .event-banners > div {
	flex:1 1 49%;
	border-radius:8px;
	overflow:hidden;
}
main .event-banners img{
	width: 100%;
}

main .bestsellers {
	margin: 80px auto;
}

main .bestsellers h2 {
	font-weight: 600;
	color: #1D1D1D;
	font-size: 30px;
	margin-bottom: 40px;
}

main .bestsellers ul.nav-tabs {
	border: none;	
	margin-bottom: 30px;
}

main .bestsellers ul li button.nav-link {
	font-weight: 500;
	font-size: 16px;
	color: #7C7C7C;
	border:none;
	border-bottom:5px solid transparent;	
}

main .bestsellers ul li button.nav-link.active {
	color:#114232;
	border-color:#114232;
}

main .bestsellers .tab-content ul {
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	padding:0;
}

main .bestsellers .tab-content ul li {
	flex: 0 1 290px;
	box-shadow: 0 5px 5px rgba(163, 163, 163, .2);
	border-radius: 8px;
	overflow: hidden;
}

main .bestsellers .tab-content ul li a img {
	width: 100%;
} 

/* footer */
.footer-banner {
	background-color: #F7F6BB;
	min-height:60px;
	padding-top:14px;
	padding-bottom:14px;
}

.footer-banner .foot-banner-wrap {
	display:flex;
	justify-content: space-between;
	align-items:center;
	flex-wrap:wrap;
	height: 100%;
	max-width: 1200px;
	margin: auto;
}

.footer-banner .foot-banner-wrap .cs-texts span{
	font-size:15px;
	color: #1D1D1D;
}

.footer-banner .foot-banner-wrap .cs-texts span:first-child {
	margin-right: 30px;
	font-weight: 500;
}

.footer-banner .foot-banner-wrap .cs-texts span:nth-child(2) {
	margin-right: 10px;
}

.footer-banner .foot-banner-wrap .cs-texts span:nth-child(3) {
	color: #7C7C7C;
}

/* 다른 곳에서 쓸 수 있어서 클래스명으로만 선언 해둠. */
.link-btn1 {
	display:block;
	border: 1px solid #7C7C7C;
	border-radius: 3px;
	padding:5px 24px 5px 10px;
	background:#fff url('../../images/right-arrow.svg') no-repeat center right 5px / 8px;
	font-size: 12px;
	color:#7C7C7C;
}

footer {
	padding:30px 40px;
}

footer .footer-wrap {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;	
	gap:30px;
	align-items:flex-start;
}

footer .footer-wrap .address-wrap {
	flex:1;	
}

footer .footer-wrap address {
	font-size:14px;
	font-weight: 500;
	color:#7C7C7C;
	margin-bottom: 0;
}

footer .footer-wrap address span {
	margin-right:20px;
}

footer .footer-wrap address span:last-child {
	margin-right: 0;
}

footer .footer-wrap address p {
	margin: 10px 0;
}

footer .footer-wrap address p:last-child {
	margin-bottom:0;
}

footer .footer-wrap .social-wrap {
	display:flex;
	gap:10px;
}

footer .footer-wrap .social-wrap a {
	width: 24px;	
	display:flex;
	justify-content:center;
	align-items:center;
}

footer .footer-wrap .social-wrap a img {	
	width: 100%;
}

/* media query */

@media (max-width: 1300px) {
	header .header-bottom > nav {
		position: unset;
	}
}

@media (max-width: 768px) {
	header .header-top {
	    flex-direction: column;
    	align-items: center;
	}	
}

@media (max-width: 576px) {
	footer .footer-wrap {
		flex-direction: column;
	}	
}

@media (min-width: 1200px) {
	header.container-fluid {
		padding-right: 40px;
		padding-left: 40px;
	}	
	main .sub-contents.container-fluid {
		max-width:1200px;
		padding:0;
	}
	footer.container-fluid {
		max-width: 1200px;
		padding-right: 0;
		padding-left: 0;
	}
}

