@charset "UTF-8";

.login {
	display:flex;
	justify-content: center;
	align-items:center;
	padding: 40px 0;
}

.login > .container {
	max-width: 596px;
}

.login .title h2{
	font-weight: 600;
	font-size: 30px;
	color: #1D1D1D;
	margin-bottom: 60px;
}

.his-input {
	height: 62px;
	margin-bottom: 10px;
}

.his-input label, .his-input input {
	width: 100%;
	
}

.his-input input {
	border-radius:8px;
	height: 38px;
	border: 1px solid #7C7C7C;
	padding:10px 20px;
	
}


.his-input input::placeholder {
	font-size: 15px;
	color: #7C7C7C;
	font-weight: 400;
}